<h1><%= @title %></h1>


<div class="container text-white">
    <div class="row">
        <div class="col-7 border bg-success">
            ジムの口コミを投稿できるサイトです。
            
        </div>
        <div class="col-4 border bg-success">
            ②
        </div>
        <div class="col-4 border bg-success">
            ③
        </div>
    </div>
</div>
