<% breadcrumb :new_blog, @blog %>

<div class ="blog_form"><%= render 'form', blog: @blog %></div>
<div class ="gym-new-back-button">
<button type="button" class="btn btn-success">
<%= link_to '戻る', blogs_path %>
</button>
</div>
