<% set_meta_tags title: @blog.title %>

<h1 class ="title"><%= @blog.title %></h1>

  <div class ="show-blogbox">
    <%= @blog.body %>
  </div>

<% if logged_in? %>
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
<% end %>
