<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="gymbox">
        <div class="gymtitle">
          <%= link_to (gym.name), gym_path(gym) %>
        </div>
        <div class="gympicture">
          <%= image_tag gym.picture.first.url  %>

        </div>
      </div>
    </div>
  </div>
</div>
