<h1>口コミ</h1>
<% breadcrumb :gyms %>
<div class="container">
  <div class="row">
    <%= render partial: 'gym', collection: @gyms, as: :gym %>
  </div>
</div>
<div class =gym-button>
<button type="button" class="btn btn-success">
  <%= link_to '投稿する', new_gym_path %></button>
  </div>

<%= will_paginate @gyms, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
