.blogbox {
  width: 300px;
  text-align: center;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  padding : 60px;
  margin : 60px;
}

.blogtitle {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: #333;
}

.blogbody{
  font-size: 14px;
  line-height: 1.5;
}

.container{

 width: 100px;
}
.link{
  font-size: 20px;
}
