@import "bootstrap-sprockets";
@import "bootstrap";


body {
  padding-top: 60px;
}

h1{
  text-align:center;
}

//gym//
.text-center{
 font-size: 40px;
}

.p-3{
  float:right;
  height:96px;
  width:400px;
  margin-top: 30px;
  margin-right: 200px;
  border: 1px solid #009347;
  display: table-cell;
  vertical-align: top;

}

.list-group{
text-align:right;
margin-right: 210px;
}

.picturebox{
margin-left: 70px;
display: table-cell;
vertical-align: top;
}
