@import "bootstrap-sprockets";
@import "bootstrap";


body {
  padding-top: 60px;

}

h1{
  text-align:center;
}

//gym showアクション//
 .gym_name {
   width :auto;
   max-width: 800px;
	margin-left: -10px;
  box-shadow: 0 0 5px #ccc;
  border-top: solid 4px gray;
  font-size:50px;
  padding: 20px;
}

.show-gymbox{
  padding-left: 90px;
  max-width: 800px;
}


.col-6{
  position:relative;
  zoom: 1.7;
  margin:auto;

  margin-bottom:25px;
  margin-top:25px;
}

.col-4{
position:relative;

margin-right:50px;
}

.ctitle {
	font-weight: 700;
	margin-bottom: 30px;
  margin-top: 45px;
  width:700px;
  margin-left: -20px;
}

.container-fluid{
 display: inline-block;
 max-width: 10px;
 margin-top: 45px;
 box-shadow: 0 0 5px #ccc;
}

.sidebar {
  position:absolute;


  width:250px;



  margin-top:110px;
  margin-left:900px;
}

.sidebar__item {
  margin-bottom: 20px;
}

.recent_post{
  padding-bottom:10px;
  border-bottom: solid 4px gray;
  font-size:22px;
}
.sidebar_row{
  list-style: none;
  margin-left: 10px;
}
.gym_sidebar_title {
  font-size:17px;
}

/* Footer */
*, *:before, *:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.contents {
	min-height: 100vh;
	margin: auto;
	padding: 1em 0 10em 0;
	background: rgb(236, 240, 241);
}
footer #button {
	position: relative;
	width: 10em;
	height: 2em;
	margin: 0 auto;
	padding: 0.2em;
	cursor: pointer;
	-webkit-transition: all 1s ease;
	        transition: all 1s ease;
	text-align: center;
	color: #00acc1;
	border-radius: 3px 3px 0px 0px;
	background: #00B3FE;
}
footer #button:hover {
	position: relative;
	width: 10em;
	height: 2em;
	-webkit-transition: all 1s ease;
	        transition: all 1s ease;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 1.5em;
	margin: 0 auto;
	 -webkit-transition: all 1s ease;
	        transition: all 1s ease;

}
footer:hover {
	height: 10em;
	-webkit-transition: all 1s ease;
	        transition: all 1s ease;
}
footer #container {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #00B3FE;
}

footer .link  {
text-align: center;
 list-style: none;
	-webkit-transition: all, 0.3s;
	        transition: all, 0.3s;
          padding-top:30px;
          line-height:-10px;
}
