// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-edit-button{
      margin-bottom:100px;
      margin-top:20px;
}


.row{
display: flex;
margin: 30px auto;
}

.user-gym-post{
padding-left:300px;
margin-top: 30px auto;
}

.user-gym-post-count{
  text-align: center;
}

.user-gym-follow{
padding-left:380px;
margin-top: 30px auto;

}

.user-gym-follow-count{
  text-align: center;
}
